<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SIS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ALoginVal</display-name>
    <servlet-name>ALoginVal</servlet-name>
    <servlet-class>com.controller.ALoginVal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALoginVal</servlet-name>
    <url-pattern>/ALoginVal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropDowns</display-name>
    <servlet-name>DropDowns</servlet-name>
    <servlet-class>com.controller.DropDowns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropDowns</servlet-name>
    <url-pattern>/DropDowns</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreStudent</display-name>
    <servlet-name>StoreStudent</servlet-name>
    <servlet-class>com.controller.StoreStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreStudent</servlet-name>
    <url-pattern>/StoreStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>storefaculty</display-name>
    <servlet-name>storefaculty</servlet-name>
    <servlet-class>storefaculty.java.storefaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>storefaculty</servlet-name>
    <url-pattern>/storefaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreFaculty</display-name>
    <servlet-name>StoreFaculty</servlet-name>
    <servlet-class>com.controller.StoreFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreFaculty</servlet-name>
    <url-pattern>/StoreFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreFaculty2</display-name>
    <servlet-name>StoreFaculty2</servlet-name>
    <servlet-class>com.controller.StoreFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreFaculty2</servlet-name>
    <url-pattern>/StoreFaculty2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VSValidation</display-name>
    <servlet-name>VSValidation</servlet-name>
    <servlet-class>vxml.VSValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VSValidation</servlet-name>
    <url-pattern>/VSValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSemDet</display-name>
    <servlet-name>GetSemDet</servlet-name>
    <servlet-class>vxml.GetSemDet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSemDet</servlet-name>
    <url-pattern>/GetSemDet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreFeed</display-name>
    <servlet-name>StoreFeed</servlet-name>
    <servlet-class>vxml.StoreFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreFeed</servlet-name>
    <url-pattern>/StoreFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFacList</display-name>
    <servlet-name>GetFacList</servlet-name>
    <servlet-class>vxml.GetFacList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFacList</servlet-name>
    <url-pattern>/GetFacList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSem</display-name>
    <servlet-name>GetSem</servlet-name>
    <servlet-class>vxml.GetSem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSem</servlet-name>
    <url-pattern>/GetSem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vacad</display-name>
    <servlet-name>Vacad</servlet-name>
    <servlet-class>vxml.Vacad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vacad</servlet-name>
    <url-pattern>/Vacad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VAtten</display-name>
    <servlet-name>VAtten</servlet-name>
    <servlet-class>vxml.VAtten</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VAtten</servlet-name>
    <url-pattern>/VAtten</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Collegefee</display-name>
    <servlet-name>Collegefee</servlet-name>
    <servlet-class>vxml.Collegefee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Collegefee</servlet-name>
    <url-pattern>/Collegefee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamFee</display-name>
    <servlet-name>ExamFee</servlet-name>
    <servlet-class>vxml.ExamFee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamFee</servlet-name>
    <url-pattern>/ExamFee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFnum</display-name>
    <servlet-name>GetFnum</servlet-name>
    <servlet-class>vxml.GetFnum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFnum</servlet-name>
    <url-pattern>/GetFnum</url-pattern>
  </servlet-mapping>
</web-app>